@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  font-family: SpaceGrotesk;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url(../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf);
}

.navBar {
  background-color: white;
}

/* -- flashcards */
#content-container {
  width: 75%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 3px red solid;
}

.heroMain {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  padding: 0 10px;
  margin: 0 16px;
}


.card-container {
  border: 5px dotted black;
  background-color: blue;
  margin: 1em;
}

.card {
  border: 3px solid black;
  background-color: white;
  font-size: 22px;
}