/* -- meyer reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* -- all */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body, span, #root {
  font-family: SpaceGrotesk;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100%;
  width: 100%;
  color: black;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url(../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf);
}

.navBar {
  background-color: white;
}

.heroMain {
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  border-radius: 20px;
  /* padding: 0 10px;
  margin: 0 16px; */
}

#render-app-container {
  min-height: 100%;
  width: 100%;
  /* border: 3px solid blue; */
  padding: 2em;
}

/* -- flashcards */
#content-container {
  /* width: 75%; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px dashed grey; */
}

#list-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* border: 3px red solid; */
}

.front {
  color: black;
}

.back {
  color: white;
}

.card {
  /* border: 3px solid rgb(255, 0, 0); */
  min-width: fit-content;
  max-width: 50%;
  border-radius: 15px;
  background-color: #e2e2e2;
  font-size: 22px;
  padding: 2.5em;
  cursor: pointer;
}

.flip-container {
  perspective: 1000;
  margin: 10px;
  cursor: pointer;
}

.flippable {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  /* border: 2px solid blue; */
}

.transform {
  transform: rotateY(180deg);
}