/* -- all */
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html, body {
  font-family: SpaceGrotesk;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: "SpaceGrotesk";
  src: url(../fonts/SpaceGrotesk/SpaceGrotesk-Regular.ttf);
}

.navBar {
  background-color: white;
}

/* -- flashcards */
#content-container {
  /* width: 75%; */
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px dashed grey;
}

#list-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 3px red solid;
}

.heroMain {
  /* border-top-left-radius: 20px;
  border-top-right-radius: 20px; */
  border-radius: 20px;
  padding: 0 10px;
  margin: 0 16px;
}

.front {
  color: black;
}

.back {
  color: white;
}

.card {
  /* border: 3px solid rgb(255, 0, 0); */
  border-radius: 15px;
  background-color: #e2e2e2;
  font-size: 22px;
  padding: 2.5em;
  cursor: pointer;
}

.flip-container {
  perspective: 1000;
  margin: 10px;
  cursor: pointer;
}

.flippable {
  transition: 0.5s;
  transform-style: preserve-3d;
  position: relative;
  /* border: 2px solid blue; */
}

.transform {
  transform: rotateY(180deg);
}